@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


:root {
  --btn-font-blue: #0095F8;
}

.step3-container {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  max-height: 800px;
  border-radius: 2rem;
}

.room-editor-container {
  margin: 20px 80px;
}

.room-editor-container h2,
.room-editor-container h1 {
  margin: 0;
}

.room-editor-container h1 {
  margin-top: 20px;
  font-size: 32px;
  color: #333333;
  font-weight: bold;
  font-family: Roboto-Bold, "Roboto Bold", Roboto;
}

.room-editor-container h2 {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #666666;
  font-weight: bold;
  font-family: Roboto-Bold, "Roboto Bold", Roboto;
}

.right-side-bar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  align-items: center;
  height: 720px;
}


.canvas-control {
  width: 96%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px;
}

.room-visualizer {
  max-width: 700px;
  max-height: 480px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualizer-canvas-container {
  width: 100%;
  max-width: 700px;
  max-height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(114, 114, 114);
}

.canvas-control * {
  color: var(--btn-font-blue);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  height: 40px;
  border-radius: 6px;
}

.canvas-control button {
  border: none;
  background-color: transparent;
  vertical-align: middle;
}

.change-photo {
  margin-left: auto;
  width: 134px;
  line-height: 40px;
}

.canvas-control .undo-button,
.canvas-control .redo-button {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 5px;
}

.canvas-control .undo-button {
  margin-left: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.canvas-control .redo-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  vertical-align: middle;
  height: auto;
  margin: 0;
  padding: 0;
}

.find-more-colors {
  display: flex;
  align-items: center;
  gap: 8px;
}

.find-more-colors,
.add-color-container {
  color: var(--btn-font-blue);
  cursor: pointer;
}

.find-more-colors .text,
.add-color-container .text {
  font-size: 14px;
  font-weight: 500;
}

.find-more-colors .material-symbols-outlined {
  width: 14px;
}

.cml-button {
  min-width: 190px;
  height: 50px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.order-paint {
  background-color: #0095f8;
}

.save-project {
  background-color: #999;
  margin-bottom: 30px;
}

.rsb-container-2 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  text-align: center;
  width: 460px;
}

.rsb-container-1 {
  margin-top: 20px;
}

.canvas-control *:hover,
.cml-button:hover {
  background-color: #f2f2f2;
  color: #0084c9;
}

.add-color-container .icon {
  padding: 4px;
  border: 1px dashed #0095F8;
}

.find-more-colors:hover,
.add-color-container:hover {
  color: #0084c9;
  text-decoration: none;
}

.cml-button:hover {
  filter: brightness(0.95);
}

#zoomCanvas {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  width: 80px;
  height: 80px;
}

.hide {
  display: none;
}