.progress-container {
    border: 1px solid black;
    height: 100dvh;
}
.progress-bar {
    background-color: #000;
    border: 1px solid red;
    display: block;
}
.progress-bar > ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.progress-bar > ul > li {
    text-decoration: none;
}